.component {
  margin-top: 20px;
}

.stringContainer {
  width: 100%;
  display: flex;
  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.raw {
  flex: 1 0 0;
  margin-right: 10px;
}

.rendered {
  flex: 1 0 0;
  margin-left: 10px;
}
