.component {
  margin-top: 20px;
  position: relative;
  width: 50%;
}

.submit {
  color: black;
}


$textFieldBackgroundColor: white;
$lanePadding: 20px;

@mixin same-font-and-spacing() {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: keep-all;
  background: $textFieldBackgroundColor
}

.mirrorElement {
  display: block;
  @include same-font-and-spacing;
}

.mirrorElementContent {
  // vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

.input {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  resize: none;
  color: black;
  @include same-font-and-spacing;
}
